@import url('https://fonts.googleapis.com/css?family=Lato|Ubuntu:300,400,500,700');
.lato {font-family: 'Lato', sans-serif;}
.ubuntu {font-family: 'Ubuntu', sans-serif;}

* {
    font-smooth: always; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Lato', sans-serif !important; 
    overflow-x:hidden;
    line-height: 1.7;
    font-size: 16px;
    color: #000;
}

p {font-family: 'Lato', sans-serif !important; }

h1, h2, h3, h4, h5, h6 {line-height:1.2; color: #000; font-family: 'Ubuntu', sans-serif;}

a {color: #333;}
a:hover {color: #000;}

.onepress-menu a {color: #000; font-size: 12px; letter-spacing: 3px; font-weight: 600;}
.onepress-menu a:hover {color: #fe3964;}

a, a:hover, img, img:hover, button, button:hover, i, i:hover, .btn {transition: all 0.2s ease-in-out;}
a:hover, a:active, a:visited, a:focus {text-decoration:none;}
img {border:0;}
.no-padding-margin {padding:0; margin:0;}
.no-padding {padding:0;}
.no-padding-top {padding-top: 0;}
.no-margin {margin:0;}
.relative {position: relative;}
.absolute {position: relative;}
.fixed {position: fixed;}
.overflow-hidden {overflow: hidden;}
.overflow-visible {overflow: visible !important;}
.inline-block {display: inline-block;}
.full {width:100%; display: block; clear: both;}
form {display: block; width: 100%;}

.clear {clear: both;}
.clear10 {clear: both; height:10px;}
.clear20 {clear: both; height:20px;}
.clear40 {clear: both; height:40px;}
.clear80 {clear: both; height:80px;}

.vh-wrapper {height:100vh; position: relative; width: 100%;}
.vh-50, .absolute-50-middle {position: absolute; top: 50%; width: 100%; 
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); 
  -ms-transform: translateY(-50%); -o-transform: translateY(-50%);
}

/*vertically middle*/
.row-flex, .center-middle { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; flex-wrap: wrap; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.col-flex {/*display: flex;*/ flex-direction: column;}
/*vertically middle*/

/*responsive image boxes for grid - medium grid*/
.grid-img-box-md {height:160px; line-height: 150px; display: flex; align-items: center; overflow:hidden; vertical-align:middle; text-align:center; background-color: #f4f4f4; border:1px solid #eee;}
.grid-img-box-md a {margin:0 auto !important; display:inline-block;}
.grid-img-box-md img {max-height:160px; margin: 0 auto !important; display: inline-block !important; max-width: 100%;}

/* PAGE CSS STARTS */

.product-thumbs-wrap {margin:20px 0; text-align: center;}
.product-thumbs-wrap a {display: inline-block; margin: 2px; border:2px solid #eee;}
.product-thumbs-wrap a.active {border:2px solid #ccc;}

.main-photo-wrap {text-align: center; cursor: pointer;}

.done-modal .inner-content {padding:20px;}

.custom-modal-overlay, .done-modal-overlay {
	position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0,0,0,0.8); z-index: 998;
	display: none;
}
.modal-product-zoom, .done-modal {
	position: fixed; 
	background-color: #fff; z-index: 999;
	width: auto; height: auto;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	display: inline-block;
	backface-visibility: hidden;
	display: none;
	min-width:100px; min-height:100px;
}
.modal-product-zoom img {margin:30px 20px 20px 20px;}
.modal-product-zoom .close, .done-modal .close {float:right; display: inline-block; font-size: 20px;}
.done-modal .close-txt {font-size: 16px; color: #000; float:none;}

.fa-star, .fa-star-o {color: #fecc1f;}

.nav-link {font-weight: bold; font-family: 'Ubuntu', sans-serif;}
.tab-pane {padding:20px 0;}

.step-wrap {border:1px solid #000; margin-bottom: 2px; border-radius: 3px; overflow: hidden;}
.step-wrap .step-title { 
	padding: 10px; 
	background-image: linear-gradient(to left bottom, rgba(63,63,63,1),rgba(0,0,0,1)); 
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	position: relative;
	cursor: pointer;
} 
.step-wrap .step-title .fa {position: absolute; top:10px; right: 0px; color: #999; font-size: 26px;}
.step-wrap .step-detail { padding: 10px 10px 16px 10px; background-color: #eee; display: none; }
.calculated-price {
	font-family: 'Ubuntu', sans-serif; 
	font-weight: 600; font-size: 20px;
	margin-bottom: 10px;
}

.stone-one-wrap, .stone-two-wrap, .stone-three-wrap, .stone-two-holder, .stone-three-holder {display: none;}

.clear-stone-wrap {text-align: right; margin-top: 10px; display: none;}
.clear-stone-wrap a {display: inline-block;}
.clear-stone-wrap a .fa-times {color: #721c24;}

.final-Stone-Img1, .final-Stone-Img2, .final-Stone-Img3 {display: none;}

.stone-result {margin-bottom: 10px;}
.stone-result img {float:left; display: inline-block; margin-right:10px; max-width: 20px; margin-top: 4px;}
.stone-result div {float:left; display: inline-block;}

.fa-check-circle {color: #40d262 !important; right: 26px !important; top:11px; display: none;}

.selected-step1, .selected-step1-2, .selected-step1-3, .selected-step2, .selected-step3, 
.selected-step4, .selected-step4-1, .selected-step4-2 {
	color:#999;
}

.step-four-wrap .alert {margin-bottom:0 !important;}

.form-control {border-radius: 3px;}

.stone-drop {height: 250px; overflow-y: scroll;}
.stone-drop li {padding: 4px 10px 4px 50px; height:38px; border: 1px solid #ccc; cursor: pointer; margin: 2px; border-radius:3px; position: relative;}
.stone-drop li img {position: absolute; left: 6px; top: 2px;}
.stone-drop li:hover {background-color: #fff;}

.stone-holder {position: relative; height: 56px; width:100%; cursor: pointer;}
.stone-holder .place-stone {position:absolute; left:10px; top: 20px;}
.stone-holder .title {position: absolute; left:50px; top:10px;}
.stone-holder .txt-select-stone {position: absolute; left:50px; top:34px;}
.fa-angle-right { position: absolute; right: 20px; top: 27px; font-size: 20px; }

